@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color1: #3a3a3a;
  --text-color2: #787885;
  --text-color3: #6c6c6c;
  --text-color4: rgba(224, 44, 109, 0.87);
  --button-color: #e02c6d;
  --footer-bg: #0a0826;
}

body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* Navber Section */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 15vh;
  margin: auto;
}
.nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color1);
}
.nav-manus {
  display: flex;
  list-style: none;
}
.nav-manus li {
  padding: 0px 15px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color1);
}

/* Banner Section */

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 10vh auto;
}
.banner-contents {
  width: 50%;
}
.banner-title {
  font-size: 3.25rem;
  font-weight: 700;
  color: #3a3a3a;
}
.description {
  font-size: 1rem;
  font-weight: 600;
  margin: 15px 0px;
  color: var(--text-color1);
}
.banner-img {
  background-image: url("images/Circle\ design.svg");
  margin-right: 40px;
}
.banner-img img {
  width: 100%;
  height: auto;
}
.btn {
  padding: 15px 28px;
  margin-top: 5px;
  color: #fff;
  font-size: 1rem;
  background-color: var(--button-color);
  font-weight: 700;
  border: none;
  border-radius: 25px;
}

/* company logo section */

.company-logo{
    display: flex;
    justify-content: space-around;
   border-top: 1px solid rgba(214, 207, 207, 0.77);
   border-bottom: 1px solid rgba(214, 207, 207, 0.77);
   padding: 45px 0px;
}

/* mobile devices */
@media screen and (min-width: 300px) and (max-width: 767px) {
  .nav-container {
    flex-direction: column;
    justify-content: center;
    margin: 10vh auto;
  }
  .nav-logo {
    font-size: 1rem;
  }
  .nav-manus li {
    padding: 15px 10px;
    font-size: 0.7rem;
  }
  .banner-container {
    flex-direction: column-reverse;  
  }
  .banner-contents {
    width: 90%;
    margin-top: 15px;
    text-align: center;
  }
  .banner-img {
    background-image: url("images/Circle\ design.svg");
    background-size: cover;
    width: 70%;
    margin: 0 auto;
  }
  .banner-title {
    font-size: 1.2rem;
  }
  .description {
    font-size: 0.7rem;
  }
  .btn {
    padding: 10px 15px;
    font-size: 0.8rem;
  }
  .company-logo{
    display: flex;
    flex-wrap: wrap;
  }

}

/* Tablet or laptop devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-container {
    justify-content: space-between;
    margin: 10vh auto;
    width: 90%;
  }
  .nav-logo {
    font-size: 1.2rem;
  }
  .nav-manus li {
    padding: 15px 10px;
    font-size: 0.8rem;
  }
  .banner-container{
    gap: 25px;
  }
  .banner-contents {
    width: 90%;
    margin-top: 15px;
  }
  .banner-img {
    background-image: url("images/Circle\ design.svg");
    background-size: cover;
    width: 70%;
    margin: 0 auto;
  }
  .banner-title {
    font-size: 1.2rem;
  }
  .description {
    font-size: 0.7rem;
  }
  .btn {
    padding: 10px 15px;
    font-size: 0.8rem;
  }
}
